.header{
    margin-bottom: 0;
    padding: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/logogreen.JPG");
    background-size: cover;
}

