.show-ingredients {
    display: flex;
    flex-direction: column;
    background-color: #476A6F;
    justify-content: center;
    align-items: center;
}

#ingredient-details1 {
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: normal;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #7EB09B;

}
#ingredient-details2 {
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: normal;
    padding-right: 10%;
    padding-left: 10%;
}

#ingredient-name {
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px;
}

#ingredient-amount {
    display: flex;
    align-self: normal;
    margin: 10px;
}

#ingredient-unit {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ingredient-amount-unit {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: normal;
    flex-grow: 1;
    flex-basis: 0;
}
