#recipe-details-buttons{
    color: deeppink;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 0 10% 5%;
}

#details-button-symbol{
    color: whitesmoke;
    font-size: xx-large;
    padding: 2%;
    border-radius: 50%;
    background-color: #476A6F;
    border: 1px solid whitesmoke;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
