.show-ingredients{
    display: flex;
    flex-direction: column;
    background-color: #476A6F;
    justify-content: center;
    align-items: center;
}
#ingredient-details{
    color: black;
    display: flex;
    flex-direction: row;

    border: solid whitesmoke;
    align-self: normal;
    margin-right: 20%;
    margin-left: 20%;
}
#ingredient-name{
    display: flex;
    flex-grow: 1;
    align-self: normal;
    justify-content: flex-start;
    margin: 10px;
}
#ingredient-amount{
    display: flex;
    align-self: flex-end;
    margin: 10px;
}

